<header class="jumbotron subhead" id="overview">
	<h1>Vattenkanan</h1>    
	<p class="lead">Vatten, fart och så vidare...</p>
</header>
                 
<div class="row hidden-phone">
	<div class="span12">
		<center>
			<img src="http://kanan.vassaro.net:8080/domecam.mjpeg" />
		 </center>
	</div>     
</div>
<br />
<div class="row">
	<div class="span4">
		<h3>Senaste Åk</h3>
		<table class="table-striped table">      
		  <tbody>               
				<%= erb :list, {:layout => false, :list => @data}%>
		  </tbody>
		</table>
	</div>
	<div class="span4">
		<h3>Topplista</h3>
		<table class="table-striped table">      
		  <tbody>
				<%= erb :list, {:layout => false, :list => @toplist}%>				
		  </tbody>
		</table>
	</div>
	<div class="span4">
		<h3>Metadata</h3>
		<table class="table-striped table">      
		  <tbody>
		    <tr>
		      <td>Vattentemp</td>     
	 				<% if @temp %>
		      	<td><%= @temp.data_value %>°</td>
					<% else %>
	      		<td>N/A</td>					
					<% end %>
		    </tr>
		    <tr>
		      <td>Väder</td>
		      <td>Sol</td>
		    </tr>
		    <tr>
		      <td>Antal åk</td>
		      <td><%= Photo.count %></td>   
		   </tr>
		  </tbody>
		</table>
	</div>                     
	<% if false %>
	<div class="span12">
		<ul class="unstyled photo-list">
			<%= erb :photos, :layout => false %>
		</ul>     
		<br />
		<center>                                         
			<div>
				<a href="#" class="btn btn-success load-more"><i class="icon-plus-sign icon-white"></i> Ladda flera bilder</a>
			</div>
		</center>
	</div>    
	<% end %>
</div>


<div id='fb-root'></div>
<script src='http://connect.facebook.net/en_US/all.js'></script>

<% content_for :pagescript do %>
	<script type="text/javascript">
		FB.init({appId: "269947893109750", status: true, cookie: true});

		$(function(){
			setup();		
		});
	</script>
<% end %>

